{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "max-len": "off",
    "no-confusing-arrow": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-return-assign": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "quote-props": "off",
    "react/forbid-prop-types": "off",
    "react/no-children-prop": "off",
    "react/no-multi-comp": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "react/sort-comp": "off",
  },
}
